<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.lovelive.mintoolbox">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_kotori_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kotori_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".tool.FILE.ToolFile"
            android:parentActivityName=".MainActivity"
            android:label="文件属性查询">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".tool.UUID.ToolUUID"
            android:parentActivityName=".MainActivity"
            android:label="生成UUID">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".tool.ASCII.ToolASCII"
            android:parentActivityName=".MainActivity"
            android:label="ACSII码转换">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".tool.DSTIMAGE.ToolDstImage"
            android:parentActivityName=".MainActivity"
            android:label="转换灰度图">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>